@import 'tailwindcss';
@import '../components/modals/DriverCart/css/driverCart.css';
html,
body {
  background-color: #e7f6ff;
}

body {
  padding: 5.3125rem 0;
}

.container {
  width: 100%;
  max-width: 67.5rem;
  padding: 0 3.75rem;
  margin: 0 auto;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
